.vscode
*.pyc
dataset/

\.idea/
*.c
*.html
*.so

pbas

a\.out
*.out

readvideo

fica\.jpg

videos/railRoadCrossing\.mp4

paper/Main\.aux

paper/Main\.log

paper/Main\.pdf

paper/Main\.synctex\.gz

paper/Main\.xwm

paper/Paper\.aux

paper/Paper\.log

Jackson Hole Wyoming

paper/texput\.log

paper/Bibliography\.aux
